Django==4.2.1
gunicorn==21.2.0
Pillow==10.0.0
psycopg2-binary==2.9.7
sqlparse==0.4.4
asgiref==3.7.2
asgiref==3.8.1
Django==5.1.7
gunicorn==23.0.0
psycopg2-binary==2.9.10
sqlparse==0.5.3
tzdata==2025.1
whitenoise==6.9.0
